.header {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;

    p:first-child {
      font-size: 30px;
      margin-bottom: 10px;
      color: black;

      @media (min-width: 1020px) {
        font-size: 30px;
      }
    }

    p:nth-child(2) {
      font-size: 20px;
    }
  }
}

.navigation {
  a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
