.postGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 60px;
  grid-column-gap: 40px;
  margin-bottom: 200px;

  @media (min-width: 1020px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
