.postGridItem {
  img {
    margin-bottom: 10px;
    width: 100%;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;

    @media (min-width: 1020px) {
      font-size: 30px;
    }
  }
}
