.imageContainer {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.666%;
  }
}

.postTitle {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-bottom: 8px;

  @media (min-width: 1020px) {
    font-size: 24px;
  }
}
