@font-face {
  font-family: "Clarkson";
  src: local("?"),
    url("https://static3.squarespace.com/www-test/8c1d1f9b349766f444688da7f3335297af514f2c/fonts/clarkson-400.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clarkson";
  src: local("?"),
    url("https://static3.squarespace.com/www-test/7d1a9b3230519d57c4450a6973ad4c7ffd883623/fonts/clarkson-500.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
}
