html {
  font-family: 'Clarkson', Helvetica, sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
